@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: Montserrat;
  background-color: #f6f6f6;
}

/* Navbar */
.nav-margin {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  /* Navbar */
  .nav-margin {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
}
