@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: Montserrat;
}

/* Navbar */
.nav-margin {
  margin: 0 400px;
}

.card {
  width: 300px;
  height: 500px;
}

@media screen and (max-width: 1024px) {
  /* Navbar */
  .nav-margin {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
