@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
nav{
  display: flex;
  height: 89.51px;
  width: 1440px;
  background: #1b1b1b;
}
nav .logo{
  height: 39.78px;
  width: 45px;
  position: absolute;
  top: 28.86px;
  left: 133px;
}
nav .logo-sign{
    color: #F3F8B5;
    height: 17.9px;
    width: 108px;
    position: absolute;
    top: 39.81px;
    left: 189px;
    line-height: 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
  }
  nav .Profile-Picture{
    position: absolute;
    width: 42px;
    height: 41.77px;
    left: 1190px;
    top: 27.87px;
  }
  nav .user-logo{
    position: absolute;
    width: 15px;
    height: 14.92px;
    left: 1205px;
    top: 38.81px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  nav .hi-user{
    position: absolute;
    width: 71px;
    height: 19.89px;
    left: 1246px;
    top: 38.81px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
nav .v1{
    position: absolute;
    height: 9.6px;
    width: 12px;
    left: 753px;
    top: 38.81px;
  }
  nav .v2{
    position: absolute;
    height: 6px;
    width: 8.53px;
    left: 1321px;
    top: 38.81px;
  }

nav ul li a.cart{
position: absolute;
top: 38.81px;
left: 687px;
width: 100px;
height: 19.89px;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
  transition: all 0.3s ease;
}

nav ul li a.SelectAll{
    position: absolute;
    width: 167px;
    height: 28px;
    left: 206px;
    top: 337px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #000000;    
    flex: none;
    order: 0;
    flex-grow: 0;
      transition: all 0.3s ease;
    }

    nav ul li a.ClearAll{
        position: absolute;
        width: 90px;
        height: 28px;
        left: 597px;
        top: 337px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-decoration: none;
        color: #000000;    
        flex: none;
        order: 0;
        flex-grow: 0;
          transition: all 0.3s ease;
        }

nav ul li a.hi-user{
    position: absolute;
    width: 100px;
    height: 19.89px;
    left: 1246px;
    top: 38.81px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
      transition: all 0.3s ease;
    }

    nav ul li a:hover{
        color: #F3F8B5;
      }



      nav .Location{
        position: absolute;
        width: 112px;
        height: 31px;
        left: 134px;
        top: 116px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        color: #000000;
      }

      nav .Salon-Image{
        position: absolute;
        height: 128px;
        width: 217px;
        left: 134px;
        top: 153px;      
      }

      nav .Salon-Jakarta{
        position: absolute;
        width: 316px;
        height: 22px;
        left: 369px;
        top: 158px;
        font-family: 'Abril Fatface', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 20px;
        color: #000000;    
      }

      nav .Pin{
        position: absolute;
        width: 48px;
        height: 51px;
        left: 360px;
        top: 188px;
      }

      nav .Pin-Text{
        position: absolute;
        width: 176px;
        height: 22px;
        left: 396px;
        top: 203px;
        font-family: 'Abril Fatface', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }

      nav .Telephone{
        position: absolute;
        width: 18px;
        height: 29px;
        left: 375px;
        top: 245px;
      }

      nav .Phone-Number{
        position: absolute;
        width: 186px;
        height: 22px;
        left: 408px;
        top: 249px;
        font-family: 'Abril Fatface', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 20px;
      }

      nav .Rating-Number{
        position: absolute;
        width: 106px;
        height: 48px;
        left: 1095px;
        top: 158px;
        font-family: 'Abril Fatface', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }

      nav .Stars li{
        position: relative;
        width: 363px;
        height: 65px;
        left: 964px;
        top: 200px;
        display: inline;
        padding-right: 22px;
      }

nav .first-line{
    position: absolute;
    width: 1200px;
    height: 0px;
    left: 133px;
    top: 297px;
    border: 2px solid #000000;
}

nav .second-line{
    position: absolute;
    width: 1200px;
    height: 0px;
    left: 133px;
    top: 395px;
    border: 2px solid #000000;
}

nav .wrapper{
    display: flex;
    position: absolute;
    width: 55px;
    height: 52px;
    left: 132px;
    top: 422px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 55px;
    height: 52px;
    left: 132px;
    top: 422px;
    border: 3px solid #000000;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 40px;
    color: #F3F8B5;
    display: none;
}
input[type="checkbox"]:hover{
    background-color: none;
}
input[type="checkbox"]:checked{
    background-color: #000000;
}
input[type="checkbox"]:checked:after{
    display: block;
}

nav .Allwrapper{
    display: flex;
    position: absolute;
    width: 55px;
    height: 52px;
    left: -1px;
    top: -100px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 55px;
    height: 52px;
    left: -1px;
    top: -100px;
    border: 3px solid #000000;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 40px;
    color: #F3F8B5;
    display: none;
}
input[type="checkbox"]:hover{
    background-color: none;
}
input[type="checkbox"]:checked{
    background-color: #000000;
}
input[type="checkbox"]:checked:after{
    display: block;
}

nav .Hair-Treatment{
    position: absolute;
    width: 296px;
    height: 28.19px;
    left: 200px;
    top: 436px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;    
  }

  nav .Hair-Image{
    position: absolute;
    width: 241px;
    height: 131px;
    left: 132px;
    top: 508px; 
  }

  nav .Blow-Dry{
    position: absolute;
    width: 296px;
    height: 28.19px;
    left: 401px;
    top: 518px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
  }

  nav .Blow-Dry-Price{
    position: absolute;
    width: 296px;
    height: 28.19px;
    left: 401px;
    top: 560px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
  }

  nav .wishlist{
    position: absolute;
    width: 258px;
    height: 28px;
    left: 401px;
    top: 612px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
  }

  nav .mini-line{
    position: absolute;
    width: 40px;
    height: 0px;
    left: 620px;
    top: 603px;
  }

  nav .bin{
    position: absolute;
    width: 43px;
    height: 48px;
    left: 648px;
    top: 601px;
  }

  .counter{
    position: absolute;
    width: 256.77px;
    height: 50px;
    left: 100px;
    top: 663px;
    display: flex;
  }
  .counter span{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .counter span.num{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    pointer-events: none;
    left: 225.31px;
    top: 677.4px;
    line-height: 70px;
  }

  nav .third-line{
    position: absolute;
    width: 563px;
    height: 0px;
    left: 125px;
    top: 755px;
    border: 2px solid #000000;
}

/*Untuk Add-On*/
nav .wrapper2{
    display: flex;
    position: absolute;
    width: 55px;
    height: 52px;
    left: -1px;
    top: 365px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

nav .Add-On{
    position: absolute;
    width: 296px;
    height: 28.19px;
    left: 199px;
    top: 803px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;    
  }

  nav .AddOn-Image{
    position: absolute;
    width: 243px;
    height: 137px;
    left: 129px;
    top: 875px;
  }

  nav .Waxing{
    position: absolute;
    width: 296px;
    height: 28.19px;
    left: 401px;
    top: 884px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
  }

  nav .Waxing-Price{
    position: absolute;
    width: 296px;
    height: 28.19px;
    left: 399px;
    top: 927px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
  }

  nav .wishlist2{
    position: absolute;
    width: 258px;
    height: 28px;
    left: 400px;
    top: 979px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
  }

  nav .mini-line2{
    position: absolute;
    width: 40px;
    height: 0px;
    left: 621px;
    top: 972px;
  }

  nav .bin2{
    position: absolute;
    width: 43px;
    height: 48px;
    left: 648px;
    top: 968px;
  }

  .count{
    position: absolute;
    width: 256.77px;
    height: 50px;
    left: 100px;
    top: 1030px;
    display: flex;
  }
  .count span{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .count span.number{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    pointer-events: none;
    left: 225.31px;
    top: 677.4px;
    line-height: 70px;
  }

  nav .fourth-line{
    position: absolute;
    width: 596px;
    height: 0px;
    left: 124px;
    top: 1122px;
    border: 2px solid #000000;
}

nav .Order-Summary{
    position: absolute;
    width: 227px;
    height: 28px;
    left: 852px;
    top: 436px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
  }

  nav .Subtotal{
    position: absolute;
    width: 228.51px;
    height: 27px;
    left: 853.45px;
    top: 470px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }

  nav .Subtotal-Price{
    position: absolute;
    width: 161px;
    height: 21px;
    left: 1166px;
    top: 474px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #000000;
  }

  nav .Tax{
    position: absolute;
    width: 332px;
    height: 34px;
    left: 854px;
    top: 508px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }

  nav .Tax-Price{
    position: absolute;
    width: 162px;
    height: 21px;
    left: 1165px;
    top: 516px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #000000;    
  }

  nav .Total{
    position: absolute;
    width: 232.06px;
    height: 16px;
    left: 854px;
    top: 549px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;    
  }

  nav .Total-Price{
    position: absolute;
    width: 214px;
    height: 21px;
    left: 1113px;
    top: 554px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #000000;    
  }

  nav .fifth-line{
    position: absolute;
    width: 470px;
    height: 0px;
    left: 859px;
    top: 612px;
    border: 2px solid #000000;
}

nav .buy{
    position: absolute;
    width: 468px;
    height: 83px;
    left: 859px;
    top: 641px;
    transition: all 0.3s;
  }

  nav .buy:hover{
    transform : scale(1.1);
  }

  nav .bottom-nav{
    position: absolute;
    width: 1440px;
    height: 293.41px;
    left: 0px;
    top: 1156px;
    bottom: 0;
  }

  nav .Jalan-Besar{
    position: absolute;
    width: 289px;
    height: 44.76px;
    left: 143px;
    top: 1205.73px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
  }

  nav .Gmail{
    position: absolute;
    width: 289px;
    height: 21.88px;
    left: 143px;
    top: 1268.39px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;    
    text-decoration: none;
  }

  nav .No-Telepon{
    position: absolute;
    width: 289px;
    height: 21.88px;
    left: 143px;
    top: 1308.17px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;    
    text-decoration: none;
  }

  nav .Home{
    position: absolute;
    width: 44px;
    height: 20px;
    left: 494px;
    top: 1206px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  nav .Services{
    position: absolute;
    width: 44px;
    height: 20px;
    left: 493px;
    top: 1242px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  nav .About{
    position: absolute;
    width: 44px;
    height: 20px;
    left: 493px;
    top: 1279px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  nav .Testimonial{
    position: absolute;
    width: 44px;
    height: 20px;
    left: 493px;
    top: 1314px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  nav .FAQ{
    position: absolute;
    width: 44px;
    height: 20px;
    left: 493px;
    top: 1350px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  nav .Contact{
    position: absolute;
    width: 44px;
    height: 20px;
    left: 493px;
    top: 1386px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  nav .Connect-with-us{
    position: absolute;
    width: 289.54px;
    height: 22.22px;
    left: 709.11px;
    top: 1205.73px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }

  nav .Copyright{
    position: absolute;
    width: 181px;
    height: 21.88px;
    left: 1085px;
    top: 1205.73px; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;    
  }

  nav .fb{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 709px;
    top: 1246px;
  }

  nav .ig{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 757px;
    top: 1246px;
  }

  nav .twitter{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 805px;
    top: 1246px;
  }

  nav .mail{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 853px;
    top: 1246px;
  }

  nav .LogoSalonline2{
    position: absolute;
    width: 168px;
    height: 39.46px;
    left: 1085px;
    top: 1243.52px;
  }
  