@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: Montserrat;
}

/* Navbar */
.nav-margin {
  margin: 0 400px;
}

.form-search {
  margin: -80px 0 0 0;
}

.form-search h2 {
  margin: 0 0 100px 0;
}

.services {
  margin: 100px auto auto auto;
}

@media screen and (max-width: 1024px) {
  /* Navbar */
  .nav-margin {
    margin: 0;
  }

  .form-search {
    margin: -100px 0 0 0;
  }

  .form-search h2 {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .services {
    margin: 250px auto auto auto;
  }

  .form-search {
    margin: 0px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .form-search {
    margin: 0;
  }

  .card-img-top {
    object-fit: cover;
    height: 150px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 12px;
  }
}
