@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: Montserrat;
}

/* Navbar */
.nav-margin {
  margin: 0 auto;
}

.form-search {
  margin: -80px auto;
  top: 50%;
  left: 50%;
}

.form-search h2 {
  margin: 0 0 100px 0;
}

.services {
  margin: 200px auto auto auto;
}

@media screen and (max-width: 1024px) {
  /* Navbar */
  .nav-margin {
    margin: 0;
  }

  .form-search {
    top: 40%;
  }

  .form-search h2 {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .services {
    margin: 450px auto auto auto;
  }

  .form-search {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .form-search {
    top: 45%;
  }

  .card-img-top {
    object-fit: cover;
    height: 150px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 12px;
  }

  .services {
    margin: 600px auto auto auto;
  }
}
