body {
  background-image: url("images/img-map.png");
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/* Navbar */
.nav-margin {
  margin: 0 auto;
}

.halaman {
  margin: 0 450px;
}

.location {
  width: 30%;
  margin: 30px 50px 0 0;
}

.form-floating {
  margin: 0 0 50% 0;
}

@media screen and (max-width: 1024px) {
  .nav-margin {
    margin: 0;
  }

  .halaman {
    margin: 0 280px;
  }

  .location {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .halaman {
    margin: 0;
  }

  .location {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .halaman {
    margin: 0;
  }

  .location {
    width: 95%;
    height: auto;
    margin: 160px 10px 0 0;
  }

  .form-floating {
    margin: 0 0 60px 0;
  }
}
